* {
    margin: 0;
    padding: 0;
    font-family: serif;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Chrome, Opera, Edge */
}

body {

    overflow: hidden;
}


.snowfall canvas {
    position: absolute;
    z-index: -1;
}

.snowfall .info.show {
    display: block;
    opacity: 1;
}

.snowfall .info {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    box-shadow: 0px 0.5px 15px rgba(0, 0, 0, 0.9);
    padding: 10px 35px;
    background-color: rgba(0, 0, 0, 0.7);
}

.snowfall .info h1 {
    font-size: 1em;
    text-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.5);
}

.snowfall .info h2 {
    font-size: 1em;
    text-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.5);
}

#daily-image {
    width: 120px;
    height: auto;
}


#santaSleigh {
    height: auto;
    width: 120px;
    position: relative;
    animation: mySlide 10s 1 forwards;
    transform: translate(0%, 70%);
}

@keyframes mySlide {
    from {
        margin-right: 0%;
    }

    to {
        margin-left: 100%;
    }


}

/* .present:hover {
    opacity: 0;
} */

/* .info:hover {
    cursor: default;
} */

.present {
    width: 200px;
    margin: 0 auto;
}

.box,
.lid {
    background:
        -webkit-radial-gradient(white 15%, transparent 15.1%),
        -webkit-radial-gradient(red 15%, transparent 15.1%),
        rgb(12, 95, 12);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    position: relative;
    margin: 0 auto;
}

.box {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
}

.bow {
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 50px solid rgb(234, 18, 18);
    border-right: 50px solid transparent;
    transform: translate(225%, -100%);

}

.bow2 {
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 50px solid rgb(234, 18, 18);
    border-left: 50px solid transparent;
    transform: translate(300%, -100%);
}


.lid {
    width: 300px;
    height: 40px;
    position: absolute;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0 2px;
    background-color: rgb(12, 95, 12);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    text-align: center;
    display: block;
}

.box span,
.lid span {
    position: absolute;
    display: block;
    background-color: rgb(234, 18, 18);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.box span:first-child {
    width: 100%;
    height: 40px;
    top: 35%;
}

.box span:last-child,
.lid span {
    width: 40px;
    height: 100%;
    left: 45%;
}


#advent-count {
    color: white;
    font-size: 80px;
    margin-top: -0.5em;
    -webkit-text-stroke: 1px black;
}


/* styling for desktop */

/* @media only screen and (min-width: 768px) {


    .snowfall .info {
        transform: translate(-50%, -30%);
    }

    .snowfall .info h1 {
        font-size: 3.5em;
    }

    .snowfall .info h2 {
        font-size: 2.5em;
    }

    #daily-image {
        width: 300px;
        height: auto;
    }

    .lid {
        width: 600px;
        height: 80px;
        transform: translate(-50%, -320%);
    }

    .box {
        width: 600px;
        height: 600px;
        transform: translate(-50%, -30%);
    }


    .box span:first-child {
        height: 90px;
        top: 220px;
    }

    .box span:last-child,
    .lid span {
        width: 90px;
        left: 260px;
    }

    .lid span {
        left: 262px;
    }

   
    #advent-count {
        
        font-size: 150px;
        margin-top: 0;
    }

    #santaSleigh {
        width: 250px;
        transform: translate(0%, -200%);

    }

    .bow {
        transform: translate(20%, 190%);
    }

    .bow2 {
        transform: translate(90%, 90%);
    }

} */